################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/App.LearningManagement/.vs/App.LearningManagement
/App.LearningManagement/App.LearningManagement/obj
/App.LearningManagement/Library.LearningManagement/obj
/App.LearningManagement/App.LearningManagement/bin/Debug/net8.0
/App.LearningManagement/Library.LearningManagement/bin/Debug/net8.0
/App.LearningManagement/MAUI.LearningManagement/bin/Debug/net8.0-windows10.0.19041.0/win10-x64
/App.LearningManagement/MAUI.LearningManagement/obj
/App.LearningManagement/MAUI.LearningManagement/bin/Debug
